.action-button-list {
  position: absolute;
  right: 1rem;
  top: 1rem;
  z-index: 1000;
}

.action-button-list__paper {
  display: inline-block;
}

.action-button-list__paper--hidden-true {
  display: none;
}

.action-button-list__item {
  margin: 0 0.5rem;
}
