.sidebar-toggle {
  position: absolute;
  top: 1rem;
  cursor: pointer;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  z-index: -1;
}

.inner-sidebar-toggle {
  padding: 1rem 0.5rem;
}
