.without-gutter {
  margin-bottom: 0 !important;
}

.with-gutter-half {
  margin-bottom: 0.4rem;
}

.with-gutter-one {
  margin-bottom: 1rem;
}

.with-gutter-two {
  margin-bottom: 2rem;
}

.with-gutter-three {
  margin-bottom: 3rem;
}

.is-centered {
  text-align: center;
}

.is-padded {
  padding: 1rem;
}
